footer {
  text-align: center;
  padding: 12px 0;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  font-size: 0.875rem;
/*  box-shadow: inset 0 1px 0 0 var(--md-sys-color-outline, #ccc);*/
  user-select: none;
}

