

<div class="workout-main" [class.blurred]="showAddSection">
  <h2 class="section-title">Today's Workout Plan</h2>

  <div class="workout-container">
    <div class="cards-container" *ngIf="!loading && todayExercises.length">
      <mat-card class="exercise-card" *ngFor="let exercise of todayExercises">
        <button mat-icon-button color="warn" class="delete-btn" (click)="removeExerciseFromToday(exercise.exerciseId)">
          <mat-icon>close</mat-icon>
        </button>
        <div class="exercise-name">{{ exercise.exerciseName }}</div>
      </mat-card>
    </div>


    <div class="button-bottom-left">
      <button mat-raised-button class="blue-submit-btn" (click)="toggleAddExercises()">
        Add Exercises
      </button>
      <button mat-raised-button class="blue-submit-btn" (click)="toggleLogWorkout()">
        Log Workouts
      </button>
    </div>





    <mat-spinner *ngIf="loading" diameter="50" strokeWidth="4" class="spinner"></mat-spinner>

    <p class="empty-msg" *ngIf="!loading && !todayExercises.length">
      <mat-icon>info</mat-icon>
      No workout found for today.
    </p>
  </div>
</div>


<div class="overlay-backdrop" [ngClass]="{ 'hidden': !showAddSection }">
  <div class="exercise-selection-modal">
    <h3>Select Exercises</h3>
    <mat-selection-list [(ngModel)]="selectedExerciseIds">
      <mat-list-option *ngFor="let exercise of exercisesCatalog" [value]="exercise.exerciseCatalogId">
        {{ exercise.name }}
      </mat-list-option>
    </mat-selection-list>

    <div class="modal-actions">
      <button mat-raised-button class="blue-submit-btn" (click)="addSelectedExercises()">Add</button>
      <button mat-button class="blue-cancel-btn" (click)="toggleAddExercises()">Cancel</button>
    </div>

  </div>
</div>

<div class="overlay-backdrop" [ngClass]="{ 'hidden': !showLogWorkoutSection }">
  <div class="exercise-selection-modal">
    <h3>Log Workout Duration</h3>
    <form #logForm="ngForm">
      <div *ngFor="let exercise of todayExercises" class="log-exercise">
        <label>{{ exercise.exerciseName }}</label>

        <input type="number" min="1" [(ngModel)]="loggedDurations[exercise.exerciseName]" name="{{exercise.exerciseName}}" placeholder="Duration (mins)" required />
      </div>
      <p class="error-message" *ngIf="showValidationError">
        Please fill duration of all exercises.
      </p>
      <div class="modal-actions">
        <button mat-raised-button class="blue-submit-btn" (click)="submitLoggedWorkouts()">
          Submit
        </button>

        <button mat-stroked-button class="blue-cancel-btn" (click)="toggleLogWorkout()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

